{% extends "base.html" %}

{% block content %}
  <h1>
    Tag list
    <a href="{% url 'todolist:tag-create' %}" class="btn btn-primary link-to-page">
      Add Task
    </a>
  </h1>

  {% if tag_list %}
    <ul>
      <li>
      {% for tag in tag_list %}
          <h3>{{ tag.name }}</h3>
            <a href="{% url 'todolist:tag-update' tag.pk%}">Update</a>
            <a href="{% url 'todolist:tag-delete' tag.pk%}">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}
